section {
  article {
    ul li {
      .title {
        font-weight: bold;
      }
      .date {
        margin-left: 10px;
        font-size: 0.85em;
      }

      ul {
        margin-top: 10px;
      }
    }
  }
}