main {
  padding: 100px;

  h1 {
    font-size: 5rem;
    text-align: left;
  }

  .introduce {
    font-size: 1.75rem;
  }

  #education {
    .content {
      span:last-child {
        padding-left: 10px;
      }
    }
  }
}

.text-bold {
  font-weight: bold;
}