main {
  padding-bottom: 100px;
  padding-left: 350px;
  padding-right: 350px;

  h1 {
    font-size: 5rem;
    text-align: left;
  }

  section {
    margin-bottom: 100px;
  }

  ul {
    list-style: none;

    li {
      padding: 5px 0;
      position: relative;

      &::before {
        position: absolute;
        width: 3px;
        height: 3px;
        background: black;
        left: -10px;
        top: 12.5px;
        content: "";
      }
    }
  }

  .date {
    color: darkgray;
    font-style: italic;
  }

  img.badge {
    height: 20px;
    padding: 0 2px;
    border-radius: 5px;
  }

  h2.title {
    font-size: 2.5rem;
    color: darksalmon;

    .dot {
      color: black;
    }

    &.sub {
      font-size: 2rem;
      color: dimgrey;
    }
  }

  #header {
    padding-top: 0.5rem;
    height: 100vh;
    position: relative;

    .container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .name {
        color: darksalmon;
      }
    }

    .introduce {
      font-size: 1.75rem;
      line-height: 1.5em;
    }
  }

  #work-experience {
    article {
      display: flex;

      header {
        width: 35%;
      }
      .content {
        width: 65%;
      }
    }
  }

  #other-experience {
    article {
      ul li {
        .title {
          font-weight: bold;
        }
        .date {
          margin-left: 10px;
          font-size: 0.85em;
        }

        ul {
          margin-top: 10px;
        }
      }
    }
  }

  #education {
    .content {
      span:last-child {
        padding-left: 10px;
      }
    }
  }
}

.text-bold {
  font-weight: bold;
}